<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="oi oi-list navbar-brand oi oi-file" href=""> Registro Prestamos </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ocupacion">
            <span class= "oi oi-pencil" aria-hidden="true"></span> Registro Ocupaciones
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="personas">
                <span class= "oi oi-pencil" aria-hidden="true"></span> Registro Persona
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prestamos">
                <span class="oi oi-pencil" aria-hidden="true"></span> Registro Prestamos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pagos">
                <span class="oi oi-dial" aria-hidden="true"></span> Consulta Pagos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ocupaciones">
                <span class="oi oi-dial" aria-hidden="true"></span> Consulta Ocupaciones
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="C_Personas">
                <span class="oi oi-dial" aria-hidden="true"></span> Consulta Personas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="C_Prestamos">
                <span class="oi oi-dial" aria-hidden="true"></span> Consulta Prestamos
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
