@page "/Consulta"


<EditForm Model="ocupation">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>Consulta</h3>

        </div>
        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">

                    <button type="button" class="btn btn-warning" @onclick="Generar">Generar</button>

                </div>
            </form>
        </div>
        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>OcupacionId</th>
                    <th>Descripcion</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.OcupacionId</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Salario</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@code {

    public Ocupaciones ocupation { set; get; } = new Ocupaciones();
    public string Filtro { get; set; }
    public string Criterio { get; set; }
    public List<Ocupaciones> lista { get; set; } = new List<Ocupaciones>();

    [Inject]
    private OcupacionesBLL ocupacionesBLL { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void Generar()
    {
        lista = ocupacionesBLL.GetOcupaciones();
    }

}
